# Flutter/Dart/Pub related
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/android/.gradle
/android/app/.cxx
/android/app/build/
/ios/.build/
/ios/Pods/
/ios/Podfile.lock

# Additional ignores
gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks